$font-family-sans-serif:
  // Safari for OS X and iOS (San Francisco)
  -apple-system,
  //Chrome < 56 for OS X (San Francisco)
  BlinkMacSystemFont,
  // Windows
  "Segoe UI",
  // Android
  "Roboto",
  // Basic web fallback
  "Helvetica Neue", Arial, sans-serif,
  // Emoji fonts
  "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;

* {
  max-width: 100%;
  font: 100% $font-family-sans-serif;
}

.navbar-nav {
  li {
    a {
      line-height: 30px;
    }
  }
}

.spinner-1:before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  left: 50%;
  width: 60px;
  height: 60px;
  margin-top: -30px;
  margin-left: -30px;
  border-radius: 50%;
  border: 3px solid lightgray;
  border-top-color: coral;
  animation: spinner 0.7s linear infinite;
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}