*{max-width:100%;font:100% -apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol"}.navbar-nav li a{line-height:30px}.spinner-1:before{content:"";box-sizing:border-box;position:absolute;left:50%;width:60px;height:60px;margin-top:-30px;margin-left:-30px;border-radius:50%;border:3px solid #d3d3d3;border-top-color:coral;animation:spinner .7s linear infinite}@keyframes spinner{to{transform:rotate(360deg)}}/*# sourceMappingURL=app.css.map */
