$color-background: #f5f5f5;

body {
  height: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: $color-background;
}

.form-signin {
  width: 100%;
  max-width: 420px;
  padding: 15px;
  margin: auto;
}

.form-label-group {
  position: relative;
  margin-bottom: 1rem;
}

.form-label-group > input,
.form-label-group > label {
  height: 3.125rem;
  padding: 0.75rem;
}

.form-label-group > label {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  margin-bottom: 0;
  line-height: 1.5;
  color: #495057;
  pointer-events: none;
  cursor: text;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  transition: all 0.1s ease-in-out;
}

.form-label-group {
  input::-webkit-input-placeholder,
  input:-ms-input-placeholder,
  input::-ms-input-placeholder,
  input::-moz-placeholder,
  input::placeholder {
    color: transparent;
  }

  input:not(:placeholder-shown) {
    padding-top: 1.25rem;
    padding-bottom: 0.25rem;
  }

  input:not(:placeholder-shown) ~ label{
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    font-size: 12px;
    color: #777;
  }
}

input:required:valid {
  border-color: green;
}

@supports (-ms-ime-align: auto) {
  .form-label-group > label {
    display: none;
  }
  
  .form-label-group {
    input::-ms-input-placeholder {
      color: #777;
    }
  }
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .form-label-group > label {
    display: none;
  }

  .form-label-group {
    input:-ms-input-placeholder {
      color: #777;
    }
  }
}